<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../partials/mainCss.ejs') %>
    <title>database</title>
</head>
<body>
    <h1>User list</h1>
    <ul>
        <% users.forEach((user) => { %>
        <li><%= user.id %> <%= user.name %> <%= user.password %> <%= user.created_at %> </li>
        <% }); %>
    </ul>
</body>
</html>